version: "3.8"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: imagesdb
    ports:
      - "5432:5432"

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  api:
    build: ./services/api-service
    env_file: .env
    ports:
      - "5000:5000"
    depends_on:
      - postgres
      - minio
      - redis

  worker:
    build: ./services/worker-service
    env_file: .env
    depends_on:
      - postgres
      - minio
      - redis

  frontend:
    build: ./services/frontend
    ports:
      - "3000:3000"
    depends_on:
      - api
